<div class="container px-20 py-20 mt-14 mb-20">
  <p class="font-semibold text-2xl my-3 ml-3">Trending TV Shows</p>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLXf-vlPsjTO7EBgSJfcnEI7t9_ixkZJg5lFyi62E5_f2eOgEEu3F5im6uY3lcuR9JrX6YVA"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold"
              >The Great Indian Kapil Show</span
            >
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              aspernatur sed velit nesciunt blanditiis officiis minus nulla
              cumque ullam fuga.
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:7.9</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLXf-vlPsjTO7EBgSJfcnEI7t9_ixkZJg5lFyi62E5_f2eOgEEu3F5im6uY3lcuR9JrX6YVA"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold"
              >The Great Indian Kapil Show</span
            >
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              aspernatur sed velit nesciunt blanditiis officiis minus nulla
              cumque ullam fuga.
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:7.9</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLXf-vlPsjTO7EBgSJfcnEI7t9_ixkZJg5lFyi62E5_f2eOgEEu3F5im6uY3lcuR9JrX6YVA"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold"
              >The Great Indian Kapil Show</span
            >
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              aspernatur sed velit nesciunt blanditiis officiis minus nulla
              cumque ullam fuga.
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:7.9</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLXf-vlPsjTO7EBgSJfcnEI7t9_ixkZJg5lFyi62E5_f2eOgEEu3F5im6uY3lcuR9JrX6YVA"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold"
              >The Great Indian Kapil Show</span
            >
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              aspernatur sed velit nesciunt blanditiis officiis minus nulla
              cumque ullam fuga.
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:7.9</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://media.themoviedb.org/t/p/w500/m0cvvnhnRXdQhLARx7qt9lz7hTE.jpg"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold"
              >Elas Por Elas</span
            >
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
              nam impedit assumenda minima, error sed commodi nemo ab et culpa
              corporis!
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:6.2</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let movie of [1]">
        <div class="swiper-slide relative">
          <img
            src="https://m.media-amazon.com/images/M/MV5BZDI4ZWYwMGUtZGE1Yi00OTc5LWI3NDctMGY4ZWE4NzI4NWUwXkEyXkFqcGc@._V1_.jpg"
            alt=""
          />
          <div class="desc p-2">
            <span class="text-base flex flex-wrap font-bold">American Dad</span>
            <p class="text-xs my-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium est necessitatibus molestiae, sapiente consectetur
              repellat sint cumque. Minima, earum officia.
            </p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500">Vote Average:7.4</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
