.swiper-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
}

.desc {
  transition: all 300ms ease-in-out;
  background-color: #181818c4;
  height: 170px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.desc:hover {
  transition: all 300ms ease-in-out;
}

.desc.tv {
  height: 60px;
}

.swiper-slide img {
  border-radius: 5px;
  cursor: pointer;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.12);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 1;
}

.swiper-slide:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 14rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
}